@{
    ViewData["Title"] = "Home Page";
}

    <div class="sheetSlider sh--default">
        <input ID="s1" type="radio" name="slide1" checked />
        <input ID="s2" type="radio" name="slide1" />
        <input ID="s3" type="radio" name="slide1" />
        <input ID="s4" type="radio" name="slide1" />
        <input ID="s5" type="radio" name="slide1" />
        <input ID="s6" type="radio" name="slide1" />
        <input ID="s7" type="radio" name="slide1" />
        <input ID="s8" type="radio" name="slide1" />
        <input ID="s9" type="radio" name="slide1" />
        <input ID="s10" type="radio" name="slide1" />
        <div class="sh__content">
            <!-- Sliter ITEM-->
            <div class="sh__item">
                <img src="~/Images/UWP.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Xamarin.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 1
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema5.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 3
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>

            <div class="sh__item">
                <img src="~/Images/Systema4.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 4
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema1.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 5
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema-portadaASP-NET-Core.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 6
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Systema-portada-core.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 7
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/System3.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 8
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/logo-google.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 9
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/Android3.png" alt="imgtext" class="imgSlider" />
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de APP 10
                        <a href="#urlpage">with link</a>
                    </span>
                </div>
            </div>
        </div>
        <!--Botones-->
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>
        <!--Flechas-->
        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>
    </div>
